
.top_banner{
    width: 100%;


    background-color: yellow;
}

.top_banner img{
    position: relative;
    translate: -50%;
    left: 50%;
}

ul.navigation_bar {
    position: sticky;
    top: 5px;

    list-style-type: none;
    overflow: hidden;
    margin: 0;

    background-color: black;
}

ul.navigation_bar li{
    float: right;
}

ul.navigation_bar li.left_url{
    float: left;
}

.middle_icon{
    position: absolute;
    object-fit:contain;
    left: 50%;
    translate: -50%;
    height: 50px;
    width: 50px;
}


ul.navigation_bar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 28px;

    text-decoration: none;
}


ul li a{
 
    font-weight: 700;
    
}

ul li a:hover{
    color: black;
    background-color: #ffd302ff;
}

body {

    height: 5000px;
}