@font-face {
    font-family: neuroPolitical;
    src: url(https://github.com/ConnorTheCone/LLMarcas_Practica0/blob/main/Fonts/neuropolitical_rg-webfont.woff);
}

html {
    background-color:whitesmoke ;
}


.top_banner{
    
    display: flex;

    flex-direction: row;
    flex-flow: row nowrap;

    justify-content: center;

    background-color: bisque;
}


.top_lines_left_container_main{

    display: flex;

    flex-grow: 1;
}

.top_lines_left_container{

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;

    flex-grow: 1;
}

.top_banner div.left_line_t{
    height: 10px;
    width: 55%;
    border-radius: 20px;
    background-color: cadetblue;

}

.top_banner div.left_line_b{
    height: 10px;
    border-radius: 20px;
    width: 80%;

    background-color: cadetblue;

}

.top_lines_right_container_main{

    display: flex;

    flex-grow: 1;
}

.top_lines_right_container{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    flex-grow: 1;
}

.top_banner div.right_line_t{
    height: 10px;
    width: 55%;
    border-radius: 20px;
    background-color: cadetblue;
}

.top_banner div.right_line_b{
    height: 10px;
    border-radius: 20px;
    width: 80%;
    background-color: cadetblue;
}

.company_name {
    
    font-family: neuroPolitical;
    text-align: center;
}

.nav_container{
    top: 0px;
    display: flex;
    justify-content: center;
    position: sticky;
}

ul.navigation_bar {
    
    
    display: inline-flex;

    flex-direction: row-reverse;
    justify-content: center;

    list-style-type:none;
    overflow: hidden;
    background-color:darkslategrey;
    border: solid cadetblue 5px;
    border-radius: 50px;

    padding-left: 0;

}


/*
ul.navigation_bar li::before{
    content: "";
    background-color: red;

    height: 10px;
    width: 10px;

    position: absolute;
    border-radius: 5px;
    top: 50%;
    margin-left: -3ex;
    translate: -50% -50%;
}
*/
ul.navigation_bar li a{
    padding: 14px 28px;

    font-family: neuroPolitical;

    display: block;

    color: white;
    

    text-decoration: none;
    font-weight: 700; 
}

ul li a:hover{

    color: black;
    background-color:aquamarine;
}

/*Rectangulo con texto inicial */
.first_propaganda_main {

    
    display: flex;
    justify-content:center;
    background-color: aquamarine;
    
    height: 250px;
    
    overflow:hidden;
}

.first_propaganda_img{
    margin: 10px;


    overflow:hidden;
    height: 100%;
    flex-basis: 100%;
}

.first_propaganda_img img{

    height: 100%;
    width: 100%;

    object-fit:cover;
}

.first_propaganda_text {
    display: flex;
    flex-flow: column;justify-content: space-between;
    background-color: yellow;
    text-align: center;
    flex-grow: 1;
    margin: 5px;
}

/* fin del rectangulo con texto inicial*/

.company_options_main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.company_option {

    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: yellow;
   

}

.company_option_bio {
    background-color: bisque;
    display: flex;
    flex-direction: row;

}

.option_bio_img {
    overflow:hidden;
  
    height: 100%;
    flex-basis: 100%;

}

.option_bio_img img{

    height: 100%;
    width: 100%;

    object-fit:cover;
}

.option_bio_text{

    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: space-between;

    margin: 10px;
}

.option_bio_text button{
    align-self: center;
    height: 50px;
    width: 200px;

}

.company_option_colon {
    background-color: bisque;
    display: flex;
    flex-direction: row-reverse;
}

.option_colon_img {
    align-content: stretch;
    overflow:hidden;
    height: 100%;
    flex-basis: 100%;
}

.option_colon_img img{

    height: 100%;
    width: 100%;

    object-fit:cover;
}

.option_colon_text{

    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: space-evenly;

    margin: 10px;
}

.option_colon_text button{
    align-self: center;
    height: 50px;
    width: 200px;

}

.company_option_iplusd {
    background-color: bisque;
    display: flex;
    flex-direction: row;

}

.option_iplusd_img {
    align-content: stretch;
    overflow:hidden;
  
    flex-basis: 100%;
}

.option_iplusd_img img{

    height: 100%;
    width: 100%;

    object-fit:cover;
}

.option_iplusd_text{

    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: space-evenly;
    
    margin: 10px;
}

.option_iplusd_text button{
    align-self: center;
    height: 50px;
    width: 200px;

}

button {
    border: none;
    border-radius: 50px;
    background-color: darkslategrey;
    color: white;
    font-weight: 700;
}

button:hover {
 
    background-color: cadetblue;
    cursor: pointer;
}

body {

    height: 5000px;
}

