@font-face {
    font-family: neuroPolitical;
    src: url(https://github.com/ConnorTheCone/LLMarcas_Practica0/blob/main/Fonts/neuropolitical_rg-webfont.woff);
}

html {
    background-color:whitesmoke ;
}


.top_banner{
    
    display: flex;

    flex-direction: row;
    flex-flow: row nowrap;

    justify-content: center;

    background-color: bisque;
}


.top_lines_left_container_main{

    display: flex;

    flex-grow: 1;
}

.top_lines_left_container{

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;

    flex-grow: 1;
}

.top_banner div.left_line_t{
    height: 10px;
    width: 55%;
    border-radius: 20px;
    background-color: cadetblue;

}

.top_banner div.left_line_b{
    height: 10px;
    border-radius: 20px;
    width: 80%;

    background-color: cadetblue;

}

.top_lines_right_container_main{

    display: flex;

    flex-grow: 1;
}

.top_lines_right_container{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    flex-grow: 1;
}

.top_banner div.right_line_t{
    height: 10px;
    width: 55%;
    border-radius: 20px;
    background-color: cadetblue;
}


.top_banner div.right_line_b{
    height: 10px;
    border-radius: 20px;
    width: 80%;
    background-color: cadetblue;
}

.company_name {
    margin-top: -50px;
    font-family: neuroPolitical;
    text-align: center;
}




.nav_container{
    top: 5px;
    position: sticky;
    text-align: center;
}

ul.navigation_bar {
    list-style-type:none;
    display:inline-block;
    overflow: hidden;
    background-color:darkslategrey;
    border: solid cadetblue 5px;
    border-radius: 50px;

 

}

ul.navigation_bar li{
    float:inline-end;
}
/*
ul.navigation_bar li::before{
    content: "";
    background-color: red;

    height: 10px;
    width: 10px;

    position: absolute;
    border-radius: 5px;
    top: 50%;
    margin-left: -3ex;
    translate: -50% -50%;
}
*/
ul.navigation_bar li a{
    padding: 14px 28px;

    font-family: neuroPolitical;

    display: block;

    color: white;
    

    text-decoration: none;
    font-weight: 700; 
}

ul li a:hover:not(.nav_empty){

    color: black;
    background-color:aquamarine;
}

.first_propaganda_main {

    display: flex;
    justify-content: flex-start;
    background-color: aquamarine;
    width: 85%;
    height: 500px;

    overflow:hidden;
    

}

.first_propaganda_img img{
    object-fit:fill;
    overflow:hidden;
    height: 100%;
 
}

.first_propaganda_text {

    text-align: center;

}

body {

    height: 5000px;
}

