
.top_banner{
    width: 100%;


    background-color: black;
}

.top_banner img{
    position: relative;
    translate: -50%;
    left: 50%;
}

ul.navigation_bar {
    position: sticky;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}

ul.navigation_bar li{
    float: right;
}

ul.navigation_bar li.left_url{
    float: left;
}


ul.navigation_bar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 28px;

    text-decoration: none;
}


ul li a{
 
    font-weight: 700;
    
}

ul li a:hover{
    color: black;
    background-color: #ffd302ff;
}
