

ul {
    
    list-style-type: none;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    background-color: black;
}

ul li{
    float: right;
}

ul li.left_url{
    float: left;
}


ul.navigation_bar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}




ul li a:hover{

    background-color: brown;
}