.cta_text {
    top: 50%;
    text-align: center;
    color: white;

}




.cta_contenedor{

    background-image: url(https://github.com/ConnorTheCone/LLMarcas_Practica0/blob/main/Imagenes/CPD1.jpg?raw=true);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    padding: 20px;

    width: 750px;
    height: 250px;
    position: fixed;
    left: 50%;
    top: 50%;

    translate: -50% -50%;

    border: 5px solid #626bb2;
}

h2.cta_text{
    font-size: 28px;
}

p.cta_text{
    
    
    

    width:fit-content;
    margin: auto;
    border-radius: 100px;
    border: 10px solid gray;
    background-color: gray;
}

.cta_button {

    position: absolute;
    left: 50%;
    translate: -50% 50%;
    height: 75px;
    width: 300px;
    font-size: 20px;
    border-radius: 100px;

    text-transform: uppercase;
    padding: 15px 30px;

    border:transparent;
    background-color: #626bb2;
    color: white;
}

.cta_button:hover{

    background-color: aqua;
    border: solid #626bb2;
}

.cta_background {
    position: fixed;
    
    z-index: -1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    
}
