input, select {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0px;
    border-radius: 4px;
    cursor: pointer;
}

 .input, [type="submit"]{
    background-color: #297ac7;
    color: white;
    order: none;
}