input, select {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0px;
    border-radius: 4px;
    cursor: pointer;
}

 .input, [type="submit"]{
    background-color: #297ac7;
    color: white;
    order: none;
}

 .input, [type="submit"]:hover {
    background-color: #4083c2;
}

.input [type="text"], select{
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.input, ::placeholder{
    color: #297ac7;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}