.cta_text {
    top: 50%;
    text-align: center;
    color: white;

}




.cta_contenedor{

   
    background-image: url(https://github.com/ConnorTheCone/LLMarcas_Practica0/blob/main/Imagenes/CPD1.jpg?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;

    padding: 20px;

    width: 750px;
    height: 250px;
    position: fixed;
    left: 50%;
    top: 50%;

    translate: -50% -50%;

    border: 5px solid red;
}

h2.cta_text{
    font-size: 28px;
}

.cta_button {
    position: absolute;
    left: 50%;
    translate: -50% 100%;
    height: 50px;
    width: 240px;
    border-radius: 100px;
}

.cta_button:hover{
    background-color: aqua;
}

.cta_background {
    position: fixed;
    
    z-index: -1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    
}